@media only screen and (min-width: 768px) {
  .container-no-animation{
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media only screen and (max-width: 768px) {
  .container-no-animation{
    margin-left: 20px;
    margin-right: 20px;
  }
}

.container-no-animation
{
  margin-top: 20px;
  text-align: left;
  font-size: 20px;
  text-align: left;
  /* border: 2px solid var(--aColor-red-orange); */
}
p.indent {
  text-indent: 30px;
}


*{
  scroll-padding-top: 70px;
  transition: all .3s;
  scroll-behavior: smooth;
}

body{
  background-color: rgb(255,255,1,.1);
  font-size: 16px;
}
pre{
  background-color: rgb(0,0,0,.03);
  padding: 10px;
}




h5{
  border-bottom: 1px solid rgb(0,0,0,.1);
  padding-top: 50px;
}

.credits{
  font-size: small;
  width: 50%;
}

p{
  font-size: 18px;
  padding-left: 30px;
}


footer{
  font-size: small;
}
footer a{
  color: aliceblue;
  padding-right: 10px;
}
footer a:hover{
  color: rgb(200, 203, 206);
  text-decoration: none;
}


button {
  background: none;
  border: none;
  font-size: 20px;

  
}
.navbar-header{
  border: none;
  padding-top: 10px;
}


h3 {
  margin-top: 60px;
  color: black;
  border-bottom: 1px solid rgb(0,0,0,.05);
  /* font-family: 'Comfortaa', cursive; */
  /* font-family: 'Dancing Script', cursive;
  font-size: 35px; */
  /* font-family: 'Indie Flower', cursive; */
  font-family: 'Lato', sans-serif;
  /* font-family: 'Silkscreen', cursive;  */
}
/* h3:not(.display-4)::before{
  content: "+";
  margin-right: 10px;
  
} */
.plus-btn{
  display: none;
}
.minus-btn{
  display: "inline";
}

/* button:hover {
  background-color: rgb(0,0,0,.02);
  
} */

button:focus {
  outline: none;
}

thead tr td{
  border: 1px solid black;
  padding: 10px;
  color: darkred;
  font-size: larger;
}

tr td{
  border: 1px solid black;
  color: black;
  padding: 5px;
  font-size: 15px;
}

.material-symbols-outlined{
  vertical-align: bottom;
  color: black;
  padding-top: 10px;
}

.Lato{
  font-family: 'Lato', sans-serif;
}

.Comfortaa{
  font-family: 'Comfortaa', cursive;
}

:root {
    --aColor-red-dark: rgb(133, 0, 6);
    --aColor-red-orange: rgb(207, 76, 54);
    --aColor-red: rgb(169, 15, 17);
    --aColor-beige-white: rgb(255, 220, 182);
  }

.nav-link a{
  color: grey;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}

.key-glock-style{
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}
.key-glock-style::before{
  
}

.container{
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    background-color: white;
    color: var(--aColor-red-dark);
    /* border: 2px solid var(--aColor-red-orange); */
    position: relative;
}





/* 
font-family: 'Comfortaa', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Silkscreen', cursive; 
*/

/* ------- */

/* @keyframes rotation{
  from {color: beige; font-size: 10px; opacity: 0%; transform: rotate(0); right: 50%;}
  to {color: black; font-size: 100px;opacity: 100%; transform: rotate(720deg); right: 0%;}
}

@keyframes floatText{
    from {opacity: 0%; right: 100%;}
    to {opacity: 100%; right: 0%;}
    
  }
@keyframes colorFloat{
    from {color: white;}
    to {color: black;}
    
  }

  @keyframes colorHover{
    from {color: var(--aColor-beige-white);}
    to {color: black;}
    
  }  
@keyframes zoomIn {
  from {opacity: 0%;}
    to {opacity: 100%;}
  
} */