
@media only screen and (max-width: 768px) {
    body{
        font-size: 14px;
    }
}
@media only screen and (min-width: 768px) {
    body{
        font-size: 16px;
    }
}


@font-face {
    font-family: 'falloutNormal';
    src: url('Overseer-Font\\Overseer.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@keyframes a{
    0% {
        background-color: orange;
    }
    33.3% {
        background-color: blue;
    }
    66.6% {
        background-color: green;
    }
    100% {
        background-color: orange;
    }
  }

#SocialMediaBreadcrums > li{
    list-style-type: none;
}

body {
    background-color: #000;
    font-family: 'Jetbrains mono', monospace;
}

#container {
    background-color: orange;
    color: rgb(4, 4, 122);
    max-width: 768px;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    font-weight: 500;
}

p {
    text-align: center;
    max-width: 500px;
    margin: auto;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
}
